
// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

$max-margin:20;

// breakpoints
$breakpoint-small: "only screen and (max-width: 640px) ";
$breakpoint-medium: "only screen and (min-width: 640px) and (max-width: 960px)";